{% extends 'base.html' %}

{% block title %} | Services {% endblock %}
{% block content %}

<!-- Sub banner start -->
<!-- Log on to  -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Services</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Services start -->
<div class="services content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Our <span>Services</span></h1>
            <p>The steps below provide an explanation of our services.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">1</div>
                    <div class="icon">
                        <i class="flaticon-supportt-2"></i>
                    </div>
                    <div class="detail">
                        <h3>PHASE 1. ORDER</h3>
                        <p>Select the car you want to buy through our inventory. This operation can be done through our vehicle search engine. Also, you can optimize your search accordingly.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">2</div>
                    <div class="icon">
                        <i class="flaticon-airplane49"></i>
                    </div>
                    <div class="detail">
                        <h3>PHASE 2. CONFIRM ORDER</h3>
                        <p>Check vehicle specifications, photos, and inspection sheets to know the real vehicle condition. Set your purchase conditions (destination country and port of discharge).</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">3</div>
                    <div class="icon">
                        <i class="flaticon-bill"></i>
                    </div>
                    <div class="detail">
                        <h3>PHASE 3. PROFORMA INVOICE </h3>
                        <p>Receive Proforma Invoice for the selected vehicle please note that all payments should be sent ONLY to <a href="url" style="color:#f0151f">GLOBELINX TRADING LLC</a> beneficiary account in JAPAN. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">4</div>
                    <div class="icon">
                        <i class="flaticon-payment"></i>
                    </div>
                    <div class="detail">
                        <h3>PHASE 4. CONFIRM PAYMENT</h3>
                        <p>Confirm payment for the selected vehicle as per the proforma invoice and you will be notified by email after confirming your payment in <a href="url" style="color:#f0151f">GLOBELINX TRADING LLC</a> account in Japan. </p>
                    </div>
                </div>
            </div>
			<!-- Log on to  -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">5</div>
                    <div class="icon">
                        <i class="flaticon-ship"></i>
                    </div>
                    <div class="detail">
                        <h3>PHASE 5. SHIPMENT & DOCUMENTS</h3>
                        <p>GLOBELINX TRADING LLC will arrange the earliest shipment available. All necessary documents will be couriered directly to you or your agent a week after departure. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">6</div>
                    <div class="icon">
                        <i class="flaticon-flaticon-transport-4"></i>
                    </div>
                    <div class="detail">
                        <h3>PHASE 6. CUSTOM CLEARANCE</h3>
                        <p>Contact your local clearing agent to complete all import procedures. If you need assistance about these procedures, feel free to contact GLOBELINX TRADING LLC main office in Japan.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">7</div>
                    <div class="icon">
                        <i class="flaticon-carr"></i>
                    </div>
                    <div class="detail">
                        <h3>PHASE 7. VEHICLE REGISTRATION</h3>
                        <p>Get the vehicle registered, apply for insurance, and enjoy driving your GLOBELINX TRADING vehicle with safety and comfort.  </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services end -->

<!-- Service center strat -->
<div class="service-center content-area-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="inside-car service-carr">
                    <iframe width="420" height="315" src="https://www.youtube.com/embed/-J9Bo3aMHHU" frameborder="0" allowfullscreen></iframe>

                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h3>Our Services <span>Video</span></h3>
                    <p>This video describes our services.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Log on to  -->
<!-- Service center end -->

{% endblock %}
